<a href="https://colab.research.google.com/github/sphy1597/data_analysis-DS/blob/main/%EC%9D%B8%EA%B5%AC%EC%86%8C%EB%A9%B8%ED%95%B4%EA%B2%B0%EB%B0%A9%EC%95%88(%EA%B7%9C%EC%B2%A0's_ver)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

합계출산율과 지방소멸의 연관성

2021년 시군구별 소멸위험지수 계산

In [12]:
import pandas as pd

data = pd.read_csv('/content/시군구별 인구수.csv', encoding='cp949')
data = data.drop(['계', '80 - 84세', '85세 이상', '85 - 89세', '90 - 94세', '95 - 99세', '100세 이상'], axis = 1)

In [13]:
data

,시점,행정구역(시군구)별,성별,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80세 이상
0,2021,전국,계,3175015.0,3529975.0,3162503.5,3590685.5,2881870.0,2075136.5,1597970.0,2022853.5
1,2021,전국,여자,1520708.5,1665041.5,1515957.0,1753789.5,1490906.5,1104706.5,909528.0,1343569.5
2,2021,서울특별시,계,613102.5,819668.5,725415.0,718262.5,535174.0,392366.5,293549.5,319793.5
3,2021,서울특별시,여자,321343.0,419394.5,363209.5,358714.5,284667.0,211888.0,161783.0,200762.0
4,2021,종로구,계,10138.0,12777.0,10079.5,9334.5,8217.5,6154.5,5312.0,6652.0
...,...,...,...,...,...,...,...,...,...,...,...
553,2021,제주특별자치도,여자,18988.5,19490.0,17470.5,22891.5,17043.0,13365.0,11285.0,19785.0
554,2021,제주시,계,30999.0,31744.5,27222.5,34549.5,22704.0,16736.0,13164.0,18758.0
555,2021,제주시,여자,14607.0,15147.0,13380.5,17205.0,11601.5,8938.5,7412.0,13000.5
556,2021,서귀포시,계,9499.0,9355.5,8304.5,11296.0,10618.0,8462.0,6892.0,9854.0
557,2021,서귀포시,여자,4381.5,4343.0,4090.0,5686.5,5441.5,4426.5,3873.0,6784.5

In [17]:
score = pd.DataFrame()
score['신군구'] = data['행정구역(시군구)별']
score['성별'] = data['성별']
score['시점'] = data['시점']

score['20 - 39세'] = data['20 - 24세'] + data['25 - 29세'] + data['30 - 34세'] + data['35 - 39세']
score['65세 이상'] = data['65 - 69세'] + data['70 - 74세'] + data['75 - 79세'] + data['80세 이상']
score['소멸지수'] = score['20 - 39세'] / score['65세 이상']

score

         신군구  성별    시점    20 - 39세     65세 이상      소멸지수
0         전국   계  2021  13458179.0  8577830.0  1.568949
1         전국  여자  2021   6455496.5  4848710.5  1.331384
2      서울특별시   계  2021   2876448.5  1540883.5  1.866753
3      서울특별시  여자  2021   1462661.5   859100.0  1.702551
4        종로구   계  2021     42329.0    26336.0  1.607268
..       ...  ..   ...         ...        ...       ...
553  제주특별자치도  여자  2021     78840.5    61478.0  1.282418
554      제주시   계  2021    124515.5    71362.0  1.744843
555      제주시  여자  2021     60339.5    40952.5  1.473402
556     서귀포시   계  2021     38455.0    35826.0  1.073382
557     서귀포시  여자  2021     18501.0    20525.5  0.901367

[558 rows x 6 columns]

In [18]:
score.to_csv('소멸지수.csv')