합계출산율과 지방소멸의 연관성

2021년 시군구별 소멸위험지수 계산

In [ ]:
import pandas as pd

data = pd.read_csv('/content/시군구별 인구수.csv', encoding='cp949')

In [ ]:
data

In [ ]:
# 전국 데이터는 삭제
df_sample = data.drop(index=[0, 1], axis=0)
df_sample

,시점,행정구역(시군구)별,성별,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80세 이상,80 - 84세,85세 이상,85 - 89세,90 - 94세,95 - 99세,100세 이상
2,2021,서울특별시,계,9453878.0,613102.5,819668.5,725415.0,718262.5,535174.0,392366.5,293549.5,319793.5,189601.0,130192.5,90257.5,31768.5,7074.5,1092.0
3,2021,서울특별시,여자,4860124.0,321343.0,419394.5,363209.5,358714.5,284667.0,211888.0,161783.0,200762.0,111090.0,89672.0,59591.0,23666.5,5538.0,876.5
4,2021,종로구,계,142767.0,10138.0,12777.0,10079.5,9334.5,8217.5,6154.5,5312.0,6652.0,3857.5,2794.5,1903.0,687.5,178.5,25.5
5,2021,종로구,여자,73381.0,5466.0,6286.5,5008.5,4733.0,4161.0,3341.5,3029.0,4080.0,2270.0,1810.0,1179.0,491.0,122.0,18.0
6,2021,중구,계,120430.5,7453.0,10855.0,10133.0,9599.0,7434.0,5538.5,4506.0,5391.5,3082.0,2309.5,1564.5,600.5,128.0,16.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,2021,제주특별자치도,여자,334313.0,18988.5,19490.0,17470.5,22891.5,17043.0,13365.0,11285.0,19785.0,9642.0,10143.0,6528.0,2615.0,838.0,162.0
554,2021,제주시,계,489241.0,30999.0,31744.5,27222.5,34549.5,22704.0,16736.0,13164.0,18758.0,9983.0,8775.0,5881.0,2148.0,638.0,108.0
555,2021,제주시,여자,244352.5,14607.0,15147.0,13380.5,17205.0,11601.5,8938.5,7412.0,13000.5,6297.0,6703.5,4230.0,1784.0,588.5,101.0
556,2021,서귀포시,계,181751.5,9499.0,9355.5,8304.5,11296.0,10618.0,8462.0,6892.0,9854.0,5319.0,4535.0,3201.5,990.5,279.0,64.0
557,2021,서귀포시,여자,89960.5,4381.5,4343.0,4090.0,5686.5,5441.5,4426.5,3873.0,6784.5,3345.0,3439.5,2298.0,831.0,249.5,61.0

In [ ]:
# 합계 인구수 데이터 출력
df_sample_1 = data[data['성별'].isin(["계"])]
df_sample_1

,시점,행정구역(시군구)별,성별,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80세 이상,80 - 84세,85세 이상,85 - 89세,90 - 94세,95 - 99세,100세 이상
0,2021,전국,계,51333252.5,3175015.0,3529975.0,3162503.5,3590685.5,2881870.0,2075136.5,1597970.0,2022853.5,1163257.5,859596.0,603274.5,205711.0,44029.0,6581.5
2,2021,서울특별시,계,9453878.0,613102.5,819668.5,725415.0,718262.5,535174.0,392366.5,293549.5,319793.5,189601.0,130192.5,90257.5,31768.5,7074.5,1092.0
4,2021,종로구,계,142767.0,10138.0,12777.0,10079.5,9334.5,8217.5,6154.5,5312.0,6652.0,3857.5,2794.5,1903.0,687.5,178.5,25.5
6,2021,중구,계,120430.5,7453.0,10855.0,10133.0,9599.0,7434.0,5538.5,4506.0,5391.5,3082.0,2309.5,1564.5,600.5,128.0,16.5
8,2021,용산구,계,218385.5,13372.5,19392.5,19090.5,18157.5,11517.5,8474.5,6996.5,9182.0,5247.5,3934.5,2691.5,978.5,229.5,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,2021,거창군,계,61002.0,3353.5,2447.0,2130.0,2718.5,4597.0,3665.5,3267.5,5685.5,3156.0,2529.5,1755.0,631.5,120.0,23.0
550,2021,합천군,계,43105.0,1576.0,1313.0,1045.0,1382.5,4181.5,3623.5,3433.5,6151.0,3436.0,2715.0,1995.5,586.5,113.5,19.5
552,2021,제주특별자치도,계,670992.5,40498.0,41100.0,35527.0,45845.5,33322.0,25198.0,20056.0,28612.0,15302.0,13310.0,9082.5,3138.5,917.0,172.0
554,2021,제주시,계,489241.0,30999.0,31744.5,27222.5,34549.5,22704.0,16736.0,13164.0,18758.0,9983.0,8775.0,5881.0,2148.0,638.0,108.0
556,2021,서귀포시,계,181751.5,9499.0,9355.5,8304.5,11296.0,10618.0,8462.0,6892.0,9854.0,5319.0,4535.0,3201.5,990.5,279.0,64.0

In [ ]:
df_sample_1['65세이상'] = df_sample_1['65 - 69세']+df_sample_1['70 - 74세']+df_sample_1['75 - 79세']+df_sample_1['80 - 84세']+df_sample_1['85 - 89세']+df_sample_1['90 - 94세']+df_sample_1['95 - 99세']+df_sample_1['100세 이상']
df_sample_1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,시점,행정구역(시군구)별,성별,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80세 이상,80 - 84세,85세 이상,85 - 89세,90 - 94세,95 - 99세,100세 이상,65세이상
0,2021,전국,계,51333252.5,3175015.0,3529975.0,3162503.5,3590685.5,2881870.0,2075136.5,1597970.0,2022853.5,1163257.5,859596.0,603274.5,205711.0,44029.0,6581.5,8577830.0
2,2021,서울특별시,계,9453878.0,613102.5,819668.5,725415.0,718262.5,535174.0,392366.5,293549.5,319793.5,189601.0,130192.5,90257.5,31768.5,7074.5,1092.0,1540883.5
4,2021,종로구,계,142767.0,10138.0,12777.0,10079.5,9334.5,8217.5,6154.5,5312.0,6652.0,3857.5,2794.5,1903.0,687.5,178.5,25.5,26336.0
6,2021,중구,계,120430.5,7453.0,10855.0,10133.0,9599.0,7434.0,5538.5,4506.0,5391.5,3082.0,2309.5,1564.5,600.5,128.0,16.5,22870.0
8,2021,용산구,계,218385.5,13372.5,19392.5,19090.5,18157.5,11517.5,8474.5,6996.5,9182.0,5247.5,3934.5,2691.5,978.5,229.5,35.0,36170.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,2021,거창군,계,61002.0,3353.5,2447.0,2130.0,2718.5,4597.0,3665.5,3267.5,5685.5,3156.0,2529.5,1755.0,631.5,120.0,23.0,17215.5
550,2021,합천군,계,43105.0,1576.0,1313.0,1045.0,1382.5,4181.5,3623.5,3433.5,6151.0,3436.0,2715.0,1995.5,586.5,113.5,19.5,17389.5
552,2021,제주특별자치도,계,670992.5,40498.0,41100.0,35527.0,45845.5,33322.0,25198.0,20056.0,28612.0,15302.0,13310.0,9082.5,3138.5,917.0,172.0,107188.0
554,2021,제주시,계,489241.0,30999.0,31744.5,27222.5,34549.5,22704.0,16736.0,13164.0,18758.0,9983.0,8775.0,5881.0,2148.0,638.0,108.0,71362.0
556,2021,서귀포시,계,181751.5,9499.0,9355.5,8304.5,11296.0,10618.0,8462.0,6892.0,9854.0,5319.0,4535.0,3201.5,990.5,279.0,64.0,35826.0

In [ ]:
# 여성 인구수 데이터만 추출
df_sample_w = data[data['성별'].isin(["여자"])]
df_sample_w

,시점,행정구역(시군구)별,성별,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80세 이상,80 - 84세,85세 이상,85 - 89세,90 - 94세,95 - 99세,100세 이상
1,2021,전국,여자,25744150.5,1520708.5,1665041.5,1515957.0,1753789.5,1490906.5,1104706.5,909528.0,1343569.5,723885.5,619684.0,419029.0,159253.5,35840.0,5561.5
3,2021,서울특별시,여자,4860124.0,321343.0,419394.5,363209.5,358714.5,284667.0,211888.0,161783.0,200762.0,111090.0,89672.0,59591.0,23666.5,5538.0,876.5
5,2021,종로구,여자,73381.0,5466.0,6286.5,5008.5,4733.0,4161.0,3341.5,3029.0,4080.0,2270.0,1810.0,1179.0,491.0,122.0,18.0
7,2021,중구,여자,61692.0,4060.5,5641.5,5104.5,4782.0,3781.0,2950.0,2559.0,3499.0,1881.5,1617.5,1075.5,435.5,95.5,11.0
9,2021,용산구,여자,112961.0,7135.0,10116.0,9590.5,9131.5,6012.0,4643.0,4055.5,5901.5,3218.5,2683.0,1780.0,711.5,163.0,28.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,2021,거창군,여자,31119.0,1351.5,1030.5,961.0,1370.5,2368.0,2017.5,2039.5,3960.0,2103.5,1856.5,1257.0,489.0,91.5,19.0
551,2021,합천군,여자,22258.0,689.5,529.0,449.5,622.5,2096.5,1972.5,2163.0,4416.5,2345.0,2071.5,1488.5,465.5,99.5,18.0
553,2021,제주특별자치도,여자,334313.0,18988.5,19490.0,17470.5,22891.5,17043.0,13365.0,11285.0,19785.0,9642.0,10143.0,6528.0,2615.0,838.0,162.0
555,2021,제주시,여자,244352.5,14607.0,15147.0,13380.5,17205.0,11601.5,8938.5,7412.0,13000.5,6297.0,6703.5,4230.0,1784.0,588.5,101.0
557,2021,서귀포시,여자,89960.5,4381.5,4343.0,4090.0,5686.5,5441.5,4426.5,3873.0,6784.5,3345.0,3439.5,2298.0,831.0,249.5,61.0

In [ ]:
df_sample_w['20 - 39세'] = df_sample_w['20 - 24세']+df_sample_w['25 - 29세']+df_sample_w['30 - 34세']+df_sample_w['35 - 39세']
df_sample_w

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,시점,행정구역(시군구)별,성별,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80세 이상,80 - 84세,85세 이상,85 - 89세,90 - 94세,95 - 99세,100세 이상,20 - 39세
1,2021,전국,여자,25744150.5,1520708.5,1665041.5,1515957.0,1753789.5,1490906.5,1104706.5,909528.0,1343569.5,723885.5,619684.0,419029.0,159253.5,35840.0,5561.5,6455496.5
3,2021,서울특별시,여자,4860124.0,321343.0,419394.5,363209.5,358714.5,284667.0,211888.0,161783.0,200762.0,111090.0,89672.0,59591.0,23666.5,5538.0,876.5,1462661.5
5,2021,종로구,여자,73381.0,5466.0,6286.5,5008.5,4733.0,4161.0,3341.5,3029.0,4080.0,2270.0,1810.0,1179.0,491.0,122.0,18.0,21494.0
7,2021,중구,여자,61692.0,4060.5,5641.5,5104.5,4782.0,3781.0,2950.0,2559.0,3499.0,1881.5,1617.5,1075.5,435.5,95.5,11.0,19588.5
9,2021,용산구,여자,112961.0,7135.0,10116.0,9590.5,9131.5,6012.0,4643.0,4055.5,5901.5,3218.5,2683.0,1780.0,711.5,163.0,28.5,35973.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,2021,거창군,여자,31119.0,1351.5,1030.5,961.0,1370.5,2368.0,2017.5,2039.5,3960.0,2103.5,1856.5,1257.0,489.0,91.5,19.0,4713.5
551,2021,합천군,여자,22258.0,689.5,529.0,449.5,622.5,2096.5,1972.5,2163.0,4416.5,2345.0,2071.5,1488.5,465.5,99.5,18.0,2290.5
553,2021,제주특별자치도,여자,334313.0,18988.5,19490.0,17470.5,22891.5,17043.0,13365.0,11285.0,19785.0,9642.0,10143.0,6528.0,2615.0,838.0,162.0,78840.5
555,2021,제주시,여자,244352.5,14607.0,15147.0,13380.5,17205.0,11601.5,8938.5,7412.0,13000.5,6297.0,6703.5,4230.0,1784.0,588.5,101.0,60339.5
557,2021,서귀포시,여자,89960.5,4381.5,4343.0,4090.0,5686.5,5441.5,4426.5,3873.0,6784.5,3345.0,3439.5,2298.0,831.0,249.5,61.0,18501.0

In [ ]:
df_sample_w['소멸지수'] = df_sample_w['20 - 39세']/df_sample_1['65세이상']

df_sample_w

TypeError: ignored