<a href="https://colab.research.google.com/github/sphy1597/data_analysis-DS/blob/yun_seop/%EC%9D%B8%EA%B5%AC_%EC%9C%A0%EC%B6%9C%EB%A5%A0(%EC%9C%A4%EC%84%AD's_ver)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 유출률 초안

In [ ]:
import pandas as pd
df1 = pd.read_csv('https://github.com/sphy1597/data_analysis-DS/raw/main/source/move-people.csv')

In [ ]:
df1.head

<bound method NDFrame.head of      행정구역(시군구)별     2016   2016.1     2017   2017.1     2018   2018.1  \
0    행정구역(시군구)별  총전입 (명)  총전출 (명)  총전입 (명)  총전출 (명)  총전입 (명)  총전출 (명)
1            전국  7378430  7378430  7154226  7154226  7297099  7297099
2         서울특별시  1515602  1655859  1472937  1571423  1439707  1549937
3           종로구    23604    26386    28020    25814    23187    24798
4            중구    20595    21655    20904    20574    20771    20873
..          ...      ...      ...      ...      ...      ...      ...
267     제주특별자치도   106825    92193   105027    91022   104202    95349
268         제주시    77839    69300    72530    65887    76061    70184
269        서귀포시    28986    22893    32497    25135    28141    25165
270        북제주군        0        0        0        0        0        0
271        남제주군        0        0        0        0        0        0

        2019   2019.1     2020   2020.1     2021   2021.1
0    총전입 (명)  총전출 (명)  총전입 (명)  총전출 (명)  총전입 (명)  총전출 (명)
1    7104398  7104398  7735491  7735491  7213422  7213422
2    1426493  1476081  1578127  1642977  1418187  1524430
3      22271    23945    23632    25254    22204    24428
4      19623    19384    20777    21733    19917    21126
..       ...      ...      ...      ...      ...      ...
267    94966    92030    98114    94736    94979    91062
268    68638    66180    71080    68574    67139    65654
269    26328    25850    27034    26162    27840    25408
270        0        0        0        0        0        0
271        0        0        0        0        0        0

[272 rows x 13 columns]>

In [ ]:
df2 = df1.drop([0,1], axis = 0)
df = df2.drop(['2016','2016.1'], axis = 1)

In [ ]:
df=df.replace('-','0')
result =pd.DataFrame()
df

In [ ]:
# df ,result년도17에서 21 까지 바꿔서 5번 해야됨
s = pd.DataFrame()
s['전입률'] = df['2021'].apply(lambda x: float(x))
s['전출률'] = df['2021.1'].apply(lambda x: float(x))
s['전체 값'] = s['전입률'] - s['전출률']
s['유출률'] = s['전체 값']/s['전출률'] 
result['2021']= s['유출률']

In [ ]:
result

         시군구      2017      2018      2019      2020      2021
2      서울특별시 -0.062673 -0.071119 -0.033594 -0.039471 -0.069694
3        종로구  0.085458 -0.064965 -0.069910 -0.064227 -0.091043
4         중구  0.016040 -0.004887  0.012330 -0.043988 -0.057228
5        용산구 -0.040085 -0.012222 -0.016091  0.033269 -0.089988
6        성동구  0.095262  0.047866 -0.170055 -0.149597 -0.135518
..       ...       ...       ...       ...       ...       ...
267  제주특별자치도  0.153864  0.092848  0.031903  0.035657  0.043015
268      제주시  0.100824  0.083737  0.037141  0.036544  0.022619
269     서귀포시  0.292898  0.118259  0.018491  0.033331  0.095718
270     북제주군       NaN       NaN       NaN       NaN       NaN
271     남제주군       NaN       NaN       NaN       NaN       NaN

[270 rows x 6 columns]

In [ ]:
# 앞 열에 시군구 넣기
result.insert(0, '시군구', df['행정구역(시군구)별'])

In [ ]:
result

         시군구      2017      2018      2019      2020      2021
2      서울특별시 -0.062673 -0.071119 -0.033594 -0.039471 -0.069694
3        종로구  0.085458 -0.064965 -0.069910 -0.064227 -0.091043
4         중구  0.016040 -0.004887  0.012330 -0.043988 -0.057228
5        용산구 -0.040085 -0.012222 -0.016091  0.033269 -0.089988
6        성동구  0.095262  0.047866 -0.170055 -0.149597 -0.135518
..       ...       ...       ...       ...       ...       ...
267  제주특별자치도  0.153864  0.092848  0.031903  0.035657  0.043015
268      제주시  0.100824  0.083737  0.037141  0.036544  0.022619
269     서귀포시  0.292898  0.118259  0.018491  0.033331  0.095718
270     북제주군       NaN       NaN       NaN       NaN       NaN
271     남제주군       NaN       NaN       NaN       NaN       NaN

[270 rows x 6 columns]

In [ ]:
result.to_excel("유출률 2017~2021.xlsx")

In [ ]:
sample = pd.read_excel('/content/유출률 2017_2021 미완성본.xlsx')

In [ ]:
sample_result = sample_result.loc[result['시군구'] !=  '충천북도']

In [ ]:
sample_result

      시군구      2017      2018      2019      2020      2021
3     종로구  0.085458 -0.064965 -0.069910 -0.064227 -0.091043
4      중구  0.016040 -0.004887  0.012330 -0.043988 -0.057228
5     용산구 -0.040085 -0.012222 -0.016091  0.033269 -0.089988
6     성동구  0.095262  0.047866 -0.170055 -0.149597 -0.135518
7     광진구 -0.011245 -0.051826 -0.085780 -0.078695 -0.092123
..    ...       ...       ...       ...       ...       ...
266   합천군 -0.095280 -0.107961 -0.033269 -0.134553 -0.063294
268   제주시  0.100824  0.083737  0.037141  0.036544  0.022619
269  서귀포시  0.292898  0.118259  0.018491  0.033331  0.095718
270  북제주군       NaN       NaN       NaN       NaN       NaN
271  남제주군       NaN       NaN       NaN       NaN       NaN

[254 rows x 6 columns]

In [ ]:
sample_result.to_excel("지역별 유출률 2017~2021.xlsx")

In [ ]:
sample_a= pd.read_excel('/content/지역별 유출률 2017_2021.xlsx')

In [ ]:
sample_a=sample_a.dropna(axis=0)

In [ ]:
sample_a.to_excel("지역별 유출률 2017~2021.xlsx")

# 합계 유출률 최종 !!!!

In [ ]:
import pandas as pd
df1 = pd.read_excel('https://github.com/sphy1597/data_analysis-DS/raw/main/RawData/city%20number%20of%20movers.xlsx')

In [ ]:
df1

           시도 행정구역(시군구)별    시점  총전입 (명)  총전출 (명)
0       서울특별시     　　　종로구  2017    28020    25814
1       서울특별시     　　　종로구  2018    23187    24798
2       서울특별시     　　　종로구  2019    22271    23945
3       서울특별시     　　　종로구  2020    23632    25254
4       서울특별시     　　　종로구  2021    22204    24428
...       ...        ...   ...      ...      ...
1255  제주특별자치도    　　　남제주군  2017        0        0
1256  제주특별자치도    　　　남제주군  2018        0        0
1257  제주특별자치도    　　　남제주군  2019        0        0
1258  제주특별자치도    　　　남제주군  2020        0        0
1259  제주특별자치도    　　　남제주군  2021        0        0

[1260 rows x 5 columns]

In [ ]:
df=df1.replace(0, pd.NA)

In [ ]:
df=df.dropna(axis=0)
df

           시도 행정구역(시군구)별    시점 총전입 (명) 총전출 (명)
0       서울특별시     　　　종로구  2017   28020   25814
1       서울특별시     　　　종로구  2018   23187   24798
2       서울특별시     　　　종로구  2019   22271   23945
3       서울특별시     　　　종로구  2020   23632   25254
4       서울특별시     　　　종로구  2021   22204   24428
...       ...        ...   ...     ...     ...
1245  제주특별자치도    　　　서귀포시  2017   32497   25135
1246  제주특별자치도    　　　서귀포시  2018   28141   25165
1247  제주특별자치도    　　　서귀포시  2019   26328   25850
1248  제주특별자치도    　　　서귀포시  2020   27034   26162
1249  제주특별자치도    　　　서귀포시  2021   27840   25408

[1145 rows x 5 columns]

In [ ]:
r=pd.DataFrame()

In [ ]:
s = pd.DataFrame()
s['전입률'] = df['총전입 (명)'].apply(lambda x: float(x))
s['전출률'] = df['총전출 (명)'].apply(lambda x: float(x))
s['전체 값'] = s['전입률'] - s['전출률']
s['유출률'] = s['전체 값']/s['전출률'] 
r['2021']= s['유출률']

In [ ]:
r

          2021
0     0.085458
1    -0.064965
2    -0.069910
3    -0.064227
4    -0.091043
...        ...
1245  0.292898
1246  0.118259
1247  0.018491
1248  0.033331
1249  0.095718

[1145 rows x 1 columns]

In [ ]:
df['유출률'] = r['2021']
df = df.drop(['총전입 (명)','총전출 (명)'], axis = 1)

In [ ]:
df = df.round(3)
df = df.reset_index(drop=True)
df.columns = ['시도','시군구','연도','유출률']
df['시군구']= df['시군구'].str.strip()
for i in range(1145):
  df['시군구'].iat[i] = df['시군구'].iat[i].replace('  ', '')

In [ ]:
df

           시도   시군구    연도    유출률
0       서울특별시   종로구  2017  0.085
1       서울특별시   종로구  2018 -0.065
2       서울특별시   종로구  2019 -0.070
3       서울특별시   종로구  2020 -0.064
4       서울특별시   종로구  2021 -0.091
...       ...   ...   ...    ...
1140  제주특별자치도  서귀포시  2017  0.293
1141  제주특별자치도  서귀포시  2018  0.118
1142  제주특별자치도  서귀포시  2019  0.018
1143  제주특별자치도  서귀포시  2020  0.033
1144  제주특별자치도  서귀포시  2021  0.096

[1145 rows x 4 columns]

In [ ]:
df.to_excel("지역별 유출률 2017~2021 최종본.xlsx")