<a href="https://colab.research.google.com/github/sphy1597/data_analysis-DS/blob/jaejin/%EC%9D%B8%EA%B5%AC%EC%86%8C%EB%A9%B8%ED%95%B4%EA%B2%B0%EB%B0%A9%EC%95%88(%EC%9E%AC%EC%A7%84's_ver).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**지역별 인구 소멸지수**

In [76]:
import pandas as pd

women = pd.read_excel('https://github.com/sphy1597/data_analysis-DS/raw/main/RawData/women17_21.xlsx')
women

           시도      시군구  성별    연도      20      25      30      35
0       서울특별시   　　　종로구  여자  2017  5737.0  5747.5  5197.0  5285.5
1       서울특별시   　　　종로구  여자  2018  5735.5  5929.5  5137.5  5378.5
2       서울특별시   　　　종로구  여자  2019  5688.5  6046.5  5044.5  5233.0
3       서울특별시   　　　종로구  여자  2020  5626.5  6141.5  4990.5  4975.5
4       서울특별시   　　　종로구  여자  2021  5466.0  6286.5  5008.5  4733.0
...       ...      ...  ..   ...     ...     ...     ...     ...
1300  제주특별자치도  　　　서귀포시  여자  2017  5018.5  4003.5  4375.0  5729.5
1301  제주특별자치도  　　　서귀포시  여자  2018  5058.5  4338.0  4256.0  6121.0
1302  제주특별자치도  　　　서귀포시  여자  2019  4835.5  4449.5  4119.5  6151.0
1303  제주특별자치도  　　　서귀포시  여자  2020  4600.0  4394.5  4028.5  5928.0
1304  제주특별자치도  　　　서귀포시  여자  2021  4381.5  4343.0  4090.0  5686.5

[1305 rows x 8 columns]

여성인구 합계

In [77]:
women['sum'] = women[20] + women[25] + women[30] +women[35]
women = women.drop([20,25,30,35, '성별'], axis=1)
women

           시도      시군구    연도      sum
0       서울특별시   　　　종로구  2017  21967.0
1       서울특별시   　　　종로구  2018  22181.0
2       서울특별시   　　　종로구  2019  22012.5
3       서울특별시   　　　종로구  2020  21734.0
4       서울특별시   　　　종로구  2021  21494.0
...       ...      ...   ...      ...
1300  제주특별자치도  　　　서귀포시  2017  19126.5
1301  제주특별자치도  　　　서귀포시  2018  19773.5
1302  제주특별자치도  　　　서귀포시  2019  19555.5
1303  제주특별자치도  　　　서귀포시  2020  18951.0
1304  제주특별자치도  　　　서귀포시  2021  18501.0

[1305 rows x 4 columns]

65세 고령인구

In [78]:
old = pd.read_excel('https://github.com/sphy1597/data_analysis-DS/raw/main/RawData/old17-21.xlsx')
old

          시도       시군구    연도       65      70      75      80
0       서울특별시   　　　종로구  2017   6979.0  6187.5  5251.5  5086.0
1       서울특별시   　　　종로구  2018   7102.0  6152.0  5571.5  5440.5
2       서울특별시   　　　종로구  2019   7243.5  6189.0  5551.5  5845.5
3       서울특별시   　　　종로구  2020   7636.5  6244.5  5449.5  6264.5
4       서울특별시   　　　종로구  2021   8217.5  6154.5  5312.0  6652.0
...       ...      ...   ...      ...     ...     ...     ...
1300  제주특별자치도  　　　서귀포시  2017   8734.5  7463.5  6612.0  7579.0
1301  제주특별자치도  　　　서귀포시  2018   8816.5  7774.0  6847.0  8114.5
1302  제주특별자치도  　　　서귀포시  2019   8999.0  8144.5  6859.0  8654.0
1303  제주특별자치도  　　　서귀포시  2020   9682.5  8353.0  6880.5  9236.0
1304  제주특별자치도  　　　서귀포시  2021  10618.0  8462.0  6892.0  9854.0

[1305 rows x 7 columns]

65세 이상 고령인구 합계

In [79]:
old['sum'] = old[65] + old[70] + old[75] +old[80]
old = old.drop([65,70,75,80], axis=1)
old

          시도       시군구    연도      sum
0       서울특별시   　　　종로구  2017  23504.0
1       서울특별시   　　　종로구  2018  24266.0
2       서울특별시   　　　종로구  2019  24829.5
3       서울특별시   　　　종로구  2020  25595.0
4       서울특별시   　　　종로구  2021  26336.0
...       ...      ...   ...      ...
1300  제주특별자치도  　　　서귀포시  2017  30389.0
1301  제주특별자치도  　　　서귀포시  2018  31552.0
1302  제주특별자치도  　　　서귀포시  2019  32656.5
1303  제주특별자치도  　　　서귀포시  2020  34152.0
1304  제주특별자치도  　　　서귀포시  2021  35826.0

[1305 rows x 4 columns]

소멸지수 구한 데이터 프레임

In [80]:
score = old
score['소멸지수'] = women['sum'] / old['sum']
score = score.drop('sum', axis=1)
score.columns = ['시도', '시군구', '연도', '소멸지수']
score.round(3)

           시도      시군구    연도   소멸지수
0       서울특별시   　　　종로구  2017  0.935
1       서울특별시   　　　종로구  2018  0.914
2       서울특별시   　　　종로구  2019  0.887
3       서울특별시   　　　종로구  2020  0.849
4       서울특별시   　　　종로구  2021  0.816
...       ...      ...   ...    ...
1300  제주특별자치도  　　　서귀포시  2017  0.629
1301  제주특별자치도  　　　서귀포시  2018  0.627
1302  제주특별자치도  　　　서귀포시  2019  0.599
1303  제주특별자치도  　　　서귀포시  2020  0.555
1304  제주특별자치도  　　　서귀포시  2021  0.516

[1305 rows x 4 columns]

시군구앞 공백 제거

In [81]:
score['시군구'] = score['시군구'].str.lstrip()

In [82]:
score.to_excel('score.xlsx')

지역의 개수를 이동자수 기준으로 맞추기 위해서 merge진행

In [83]:
move = pd.read_excel('https://github.com/sphy1597/data_analysis-DS/raw/main/data/region%20runoff%20rate.xlsx', index_col=0)
move.columns = ['시도', '시군구', '연도', '유출률']
move

           시도   시군구    연도    유출률
0       서울특별시   종로구  2017  0.085
1       서울특별시   종로구  2018 -0.065
2       서울특별시   종로구  2019 -0.070
3       서울특별시   종로구  2020 -0.064
4       서울특별시   종로구  2021 -0.091
...       ...   ...   ...    ...
1245  제주특별자치도  서귀포시  2017  0.293
1246  제주특별자치도  서귀포시  2018  0.118
1247  제주특별자치도  서귀포시  2019  0.018
1248  제주특별자치도  서귀포시  2020  0.033
1249  제주특별자치도  서귀포시  2021  0.096

[1145 rows x 4 columns]

In [84]:
lastscore = pd.merge(move, score, on=['시도', '시군구', '연도'], how='left')
lastscore = lastscore.drop('유출률', axis=1)
lastscore

           시도   시군구    연도      소멸지수
0       서울특별시   종로구  2017  0.934607
1       서울특별시   종로구  2018  0.914077
2       서울특별시   종로구  2019  0.886546
3       서울특별시   종로구  2020  0.849150
4       서울특별시   종로구  2021  0.816145
...       ...   ...   ...       ...
1140  제주특별자치도  서귀포시  2017  0.629389
1141  제주특별자치도  서귀포시  2018  0.626696
1142  제주특별자치도  서귀포시  2019  0.598824
1143  제주특별자치도  서귀포시  2020  0.554902
1144  제주특별자치도  서귀포시  2021  0.516413

[1145 rows x 4 columns]

최종 소멸지수 파일 다운로드

In [85]:
#lastscore.to_excel('소멸지수ㄹㅇ이게마지막진짜로최종에끝자락더이상안할꺼임수정안해버전.xlsx')

#**합계출산율**

In [ ]:
import pandas as pd

df = pd.read_excel('https://github.com/sphy1597/data_analysis-DS/raw/main/RawData/TFR_RawData.xlsx')

In [ ]:
df17 = df.drop(['2018','2019','2020','2021'],axis=1)
df17['연도'] = 2017
df17 = df17.rename(columns={'2017':'합계출산율'})

df18 = df.drop(['2017','2019','2020','2021'],axis=1)
df18['연도'] = 2018
df18 = df18.rename(columns={'2018':'합계출산율'})

df19 = df.drop(['2017','2018','2020','2021'],axis=1)
df19['연도'] = 2019
df19 = df19.rename(columns={'2019':'합계출산율'})

df20 = df.drop(['2017','2018','2019','2021'],axis=1)
df20['연도'] = 2020
df20 = df20.rename(columns={'2020':'합계출산율'})

df21 = df.drop(['2017','2018','2019','2020'],axis=1)
df21['연도'] = 2021
df21 = df21.rename(columns={'2021':'합계출산율'})

In [ ]:
fer_df = pd.concat([df17, df18, df19, df20, df21])
fer1_df = fer_df.reindex(columns=['시도', '시군구', '연도', '합계출산율'])

#fertility_df.dtypes # 타입확인
#fertility_df = fertility_df.astype({'연도':'int32'}) #연도 타입 float64-> int 변경

fer2_df = fer1_df.sort_values(by=['시도', '시군구', '연도'], axis=0)
fer3_df = fer2_df.reset_index(drop=True)
fer3_df

#256개의 행정구역 * 5(17년~21년) = 1280개

        시도  시군구    연도  합계출산율
0      강원도  강릉시  2017  1.025
1      강원도  강릉시  2018  1.004
2      강원도  강릉시  2019  0.959
3      강원도  강릉시  2020  0.945
4      강원도  강릉시  2021  0.904
...    ...  ...   ...    ...
1275  충청북도  흥덕구  2017  1.205
1276  충청북도  흥덕구  2018  1.126
1277  충청북도  흥덕구  2019  0.993
1278  충청북도  흥덕구  2020  0.968
1279  충청북도  흥덕구  2021  0.954

[1280 rows x 4 columns]

#**인구 유출률에 맞춰 출산율 데이터 양 맞추기**

In [ ]:
#지역별 유출율
ror_df=pd.read_excel('https://github.com/sphy1597/data_analysis-DS/raw/main/data/region%20runoff%20rate.xlsx',index_col=0)
#ror_df = ror_df.round(3)
ror_df

           시도   시군구    연도    유출률
0       서울특별시   종로구  2017  0.085
1       서울특별시   종로구  2018 -0.065
2       서울특별시   종로구  2019 -0.070
3       서울특별시   종로구  2020 -0.064
4       서울특별시   종로구  2021 -0.091
...       ...   ...   ...    ...
1245  제주특별자치도  서귀포시  2017  0.293
1246  제주특별자치도  서귀포시  2018  0.118
1247  제주특별자치도  서귀포시  2019  0.018
1248  제주특별자치도  서귀포시  2020  0.033
1249  제주특별자치도  서귀포시  2021  0.096

[1145 rows x 4 columns]

In [ ]:
fer4_df = pd.merge(ror_df,fer3_df, on=['시도','시군구','연도'],how='left')

fertility_df = fer4_df.drop(['유출률'],axis=1)

fertility_df

           시도   시군구    연도  합계출산율
0       서울특별시   종로구  2017  0.646
1       서울특별시   종로구  2018  0.606
2       서울특별시   종로구  2019  0.648
3       서울특별시   종로구  2020  0.522
4       서울특별시   종로구  2021  0.531
...       ...   ...   ...    ...
1140  제주특별자치도  서귀포시  2017  1.318
1141  제주특별자치도  서귀포시  2018  1.081
1142  제주특별자치도  서귀포시  2019  1.130
1143  제주특별자치도  서귀포시  2020  0.977
1144  제주특별자치도  서귀포시  2021  0.891

[1145 rows x 4 columns]

In [ ]:
fertility_df.to_excel('시군구_합계출산율2017~2021(real최종).xlsx')

#**시각화**

In [ ]:
!pip install geopandas
!pip install pandasql

In [88]:
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
from pandasql import sqldf
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'NanumBarunGothic'
#원본 shape 파일의 한글코드 : cp949 (not utf8)
kr_map = gpd.read_file('/content/SIGUNGU',encoding='cp949')
kr_map

,SIG_CD,SIG_ENG_NM,SIG_KOR_NM,geometry
0,11110,Jongno-gu,종로구,"POLYGON ((956615.453 1953567.199, 956621.579 1..."
1,11140,Jung-gu,중구,"POLYGON ((957890.386 1952616.746, 957909.908 1..."
2,11170,Yongsan-gu,용산구,"POLYGON ((953115.761 1950834.084, 953114.206 1..."
3,11200,Seongdong-gu,성동구,"POLYGON ((959681.109 1952649.605, 959842.412 1..."
4,11215,Gwangjin-gu,광진구,"POLYGON ((964825.058 1952633.250, 964875.565 1..."
...,...,...,...,...
245,48870,Hamyang-gun,함양군,"POLYGON ((1017715.723 1751280.191, 1017761.619..."
246,48880,Geochang-gun,거창군,"POLYGON ((1034571.593 1767759.812, 1034559.208..."
247,48890,Hapcheon-gun,합천군,"POLYGON ((1054066.576 1759517.415, 1054101.450..."
248,50110,Jeju-si,제주시,"MULTIPOLYGON (((874410.953 1480515.382, 874408..."
249,50130,Seogwipo-si,서귀포시,"MULTIPOLYGON (((885004.560 1458756.461, 884996..."

In [ ]:
kr_map1 = kr_map.drop(['SIG_CD','SIG_ENG_NM'],axis=1)
kr_sigungu = kr_map1.rename(columns={"SIG_KOR_NM":"시군구"})
kr_sigungu

In [90]:
fer17_df = sqldf(' select * from fertility_df where 연도 == 2017')
fer17_df

          시도   시군구    연도  합계출산율
0      서울특별시   종로구  2017  0.646
1      서울특별시    중구  2017  0.824
2      서울특별시   용산구  2017  0.793
3      서울특별시   성동구  2017  0.972
4      서울특별시   광진구  2017  0.749
..       ...   ...   ...    ...
224     경상남도   함양군  2017  1.124
225     경상남도   거창군  2017  1.147
226     경상남도   합천군  2017  0.839
227  제주특별자치도   제주시  2017  1.301
228  제주특별자치도  서귀포시  2017  1.318

[229 rows x 4 columns]

In [ ]:
kr_fer17_map = pd.merge(fer17_df, kr_sigungu, on=['시군구'], how='left')
kr_fer17_map